<div class="conatiner d-flex justify-content-center align-items-center" style="height: 50vh;">
    <div class="text-center">
        <h1 class="fw-bold">404</h1>
        <h4>Halaman yang anda cari tidak ditemukan.</h4>
    </div>
</div>