<div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
            <h1 class="mt-3">Selamat datang di aplikasi Contact</h1>

            <h5 style="text-align: justify;">Aplikasi Kontak (Contact App) adalah sebuah aplikasi untuk menyimpan
                kontak. Dengan
                aplikasi sederhana
                ini dapat
                digunakan untuk menyimpan kontak dari teman, sahabat, keluarga dll. Aplikasi ini dibuat menggunakan
                Bootstrap
                untuk
                tampilannya, NodeJS dan framework ExpressJS untuk Backendnya, dan MongoDB untuk Databasenya. Aplikasi
                ini dapat
                menambah, menampilkan, menghapus sertan mengubah kontak.
            </h5>
        </div>
    </div>

</div>